<h1>Message from: <%= @msg.sender_id %> </h1>

<div id="content">
  <p>
    <%= @msg.content %>
  </p>
</div>

<div id="replyActions">
  <%= link_to 'Reply to message',
  reply_message_path(:Msg => {:sender_id => @msg.sender_id}),
  :class => 'btn btn-primary' %>
  <%= link_to 'Back to messages', home_profile_path, :class => 'cancelBtn' %>
</div>
