<h1>Your loan</h1>

<table class="table table-striped table-bordered">
  <tr>
  <th>Book name</th>
  <th>Borrower's Email</th>
  <th>Update Status</th>
  </tr>
  <tr>
    <td>
      <%= @loan.book_id %>
    </td>
    <td>
      <%= @loan.borrow_id %>
    </td>
    <td>
      <%= link_to 'Received Back', loan_path(@loan), :method => 'delete' %>
    </td>
  </tr>
</table>
  <%= link_to 'Return to profile', home_profile_path %>