// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#banner{
  text-align: center;
}

#banner h1 {
  margin: 0 auto 0 auto;
  display: inline-block;
  color: #5C12EE;
  text-shadow: .0416667em .083333em #DDDDDD;
  text-align: center;
  width: 5.091667em;
  overflow: hidden;
  border-bottom: .083333em solid;
}

#profileHeader h1{
  display: inline;
}

#profileHeader a{
  margin-bottom: 20px;
}

.rotateRight{
  -ms-transform: rotate(25deg);
  -website-transform: rotate(25deg);
  transform: rotate(25deg);
}

.rotateLeft{
  -ms-transform: rotate(-25deg);
  -website-transform: rotate(-25deg);
  transform: rotate(-25deg);
}


